.product {
    width:300px;
    padding:1rem;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    margin: 8px auto;
    flex-direction: column;
    display: flex;
    justify-content: space-between 
}
.product > img{
    height: 170px;
    border-radius: 8px;
}

.product__info > p{
    margin-bottom: 8px;
}

.info__price {
    font-weight: bold;
}

.info__name {
    font-size: 1rem;
    overflow: hidden;
}
.info__description {
    font-size: 0.8rem;
}
.info__button {
    display: block;
    width:100%;
    text-align: center;
    text-decoration: none;
    color :#171717;
    background: #f4f4f4;
    padding: 8px 16px;
    border:1px solid #171717;
    font-size:1rem;
}
.info__button:hover {
    background:#171717;
    color:#f4f4f4;
}

@media(max-width:1669px){
    .homescreen__products {
        grid-template-columns: repeat(4,1fr); 
    }
}

@media(max-width:1238px){
    .homescreen__products {
        grid-template-columns: repeat(3,1fr); 
    }
}

@media(max-width:935px){
    .homescreen__products {
        grid-template-columns: repeat(2,1fr); 
    }
}

@media(max-width:630px){
    .homescreen__products {
        grid-template-columns: repeat(1,1fr); 
    }
}
 